* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
  width: 1007px;
  margin: 0 auto;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}


.back {
  background-image: url("img/headerback.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.head{
  font-size: 14px;
  width: 400px;
  margin-left: auto;
  padding: 20px 0 20px 50px;  
  display: inline-block;    
}

a {
  text-decoration: none;
}
nav {
  background:#2c9ab5;
}
  
.menu {
    list-style: none;
    font-size: 0;
    
}
  
  .menu li {
    display: inline-block;
    width: 10%;
    text-align: center;
  }
  
  .menu li a {
    color: white;
    font-size: 18px;
    display: block;
    padding: 5px 0 5px 0;
  }
  
  .menu li a:hover {
    background:#2c9ab5;
  }
  
  .menu li a:active {
    color: blueviolet;
  }

.main {
  background-image: url("img/middleback.jpg");
  background-repeat: no-repeat;
  margin-left: auto;
  text-align: left;
  font-size: 12px;
  padding: 40px 50px;
  
 
}

h1{
    color: #2c9ab5;
    text-align: left;
}
h2{
    color: #2c9ab5;
}
 a.button {
        display: inline-block;
        color:darkgrey;
        text-decoration: none;
        padding: 0.8em 2em;
        margin: 20px auto;
        outline: none;
        border-width: 2px;
        border-style: solid none;
        border-color: darkgray;
        border-radius: 20px;
        background: whitesmoke;
        transition: 0.2s;
      } 


article {
    width: 33%;
    height: auto 250px 0 0; 
    display: inline-block;
    padding: 10px;
    vertical-align: top;  
    /* margin: auto;  */
   
  }
.article {
        list-style: none;
        font-size: 12px;
        padding: 10px;
        color: grey;
      }
      
p {
    padding: 5px 0;
    
    font-size: 14px
    }
    .border li a{
      border-style: dashed;
      border-width: 0 0 1px 0;
      border-color: lightgray;
    }
    .article p a{
       color:#2c9ab5;
      }
    .article li a {
      color: gray; 
      font-size: 12px;
      display: block;
      padding: 10px 0;
    }
.feet {
    list-style: none;
    font-size: 10px;
    
  }
  
  .feet li {
    display: inline-block;
    width: 10%;
    text-align: center;
    font-size: 14px;
    color: gray;
    border-style: solid; 
    border-width: 0 1px 0 0;
    border-color: lightgray;
  }
  
  .feet li a {
    color: gray; 
    font-size: 12px;
    display: block;
    padding: 10px 15px;
  }
  .email{
    text-decoration: underline;
  }
  .designed {
    text-align: right;
  }